body {
    overflow-y:scroll;
}            
#emailRequired {
    font-size: 80%;                
    color: #844;        
    display: none;        
}            
input.err {
    background-color: #844;
}
#puzzleTitle {
    font-weight: bold;
    font-size: 120%;
    line-height: 1.2;
}        
#puzzleDesc{
    margin-bottom: 2ex;
    line-height: 1.2;
}
.fragment {
    font-size: 90%;
    line-height: 1.2;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;       
    background-color: white;                    
    display: table;
    width: 100%;
}
.fragment.inAction {
    border: 1px solid black !important;                        
}
#taskPane, #trashedList {
    list-style: none;
    overflow:auto;
    padding-left: 0;
}
#trashedList li {
    margin-bottom: .5ex;
}
.puzzleContent {
    margin-top: 0.5ex;
    display: none;
}    
.statsContent {
    margin-top: 2ex;
    display: none;
}
.loginContent {
    margin-top: 2ex;
}     
.syntaxhighlighter.fragmnt {
    margin: 0 !important;
}
#trashed {
    display: none;
}
#trashed .fragment {
    border: 1px dotted #888; 
    margin-left: 0 !important;         
}
#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}
#wrongMsg, #correctMsg, #giveUpMsg, #hasBug, #hintOk {
    margin: 0 auto;
    display: none;
}          
body .syntaxhighlighter .line {
    white-space: pre-wrap !important;
    overflow: hidden !important;
}
.noBorder > .fragment:hover {
    border: 1px dotted #888;    
    /* border-bottom: none;             */
}            

.noBorder > .fragment:hover > div.trashIconHolder {                        
    background-color: #f29393;       
}          

.noBorder > .fragment > div.trashIconHolder {
    cursor: pointer;
    display:table-cell;
    font-size: 80%;
    vertical-align:middle;
    width: 3em;
    background-color: white;
    color: white;
    text-align: center;
    padding: .5ex;
}

.noBorder > .fragment:hover > div.handIconHolder {                        
    background-color: #82e2ea;        
}            

.noBorder > .fragment > div.handIconHolder {
    display: table-cell;
    cursor: pointer;                
    font-size: 80%;
    vertical-align:middle;
    text-align: center;
    width: 3em;                
    background-color: white;
    color: white;
    padding: .5ex;
}

.noBorder > .fragment.hint > div.handIconHolder {
    background-color:red;
} 

.noBorder > .fragment > div.fragmentLinesHolder {
    display:table-cell;
    padding: .5ex .1em .5ex .1em;
}                 

.noBorder > .fragment.phantom > div {
    cursor: inherit;
    opacity: 50%;
}
.noBorder > .fragment.phantom > div.handIconHolder {
    background-color: #888                
}            
.noBorder > .fragment.phantom > div.trashIconHolder {
    background-color: #888
}                                

:not(.noBorder) > .fragment:last-child > div:first-child {
    border-bottom: none;                                                               
}
:not(.noBorder) > .fragment:last-child > div:last-child {
    border-bottom: none;                                                    
}
   
:not(.noBorder) > .fragment:first-child > div.fragmentLinesHolder {
    border-top: 1px dotted #888;
}            
:not(.noBorder) > .fragment > div.trashIconHolder {
    cursor: pointer;
    display:table-cell;
    font-size: 80%;
    vertical-align:middle;
    width: 3em;
    background-color: #f29393;
    border-bottom: 1px dotted #888;
    color: white;
    text-align: center;
    padding: .5ex;
}      

:not(.noBorder) > .fragment > div.handIconHolder {
    cursor: pointer;
    display:table-cell;
    font-size: 80%;
    vertical-align:middle;
    border-bottom: 1px dotted #888;
    text-align: center;
    width: 3em;
    background-color: #82e2ea;
    color: white;
    padding: .5ex;
}
:not(.noBorder) > .fragment.hint > div.handIconHolder {
    background-color:red;
}
:not(.noBorder) > .fragment.phantom > div {
    cursor: inherit;
    opacity: 50%;
}
:not(.noBorder) > .fragment.phantom > div.handIconHolder {
    background-color: #888                
}            
:not(.noBorder) > .fragment.phantom > div.trashIconHolder {
    background-color: #888
}            
:not(.noBorder) > .fragment > div.fragmentLinesHolder {
    display:table-cell;
    border-bottom: 1px dotted #888;
    padding: .5ex .1em .5ex .1em;
}       

#trashed .fragment .trashIconHolder {
    display: none !important;
}

.formOfConsent {
    padding: 1ex 1em;
    font-size: 80%;
}

.formOfConsent b {
    font-size: initial;
}

.evHeader {
    line-height: 0.75;
    color: white;
    font-size: 95%;
}

.evHeader a {
    color:white;
    text-decoration: underline;
    font-size: 65%;
}

.evHeader a:hover {
    color: lightgray;
}

@media only screen and (max-width : 500px)  {
    .fragment {
        font-size: 80%;
    }
    .score {
        display:none;
    }
}     

@media only screen and (min-width : 500px)  {
    .scoreSmall {
        display:none;
    }
}                 

.score.noneD {
    display:none;
}                      

#gridButton {
    display: none;
}     

.score {
    vertical-align: top; 
    float: right;
}
.scoreSmall {
    padding-right: 15px;
    text-align: right;
    font-size: 80%;
}