system:

user:

Question:
Create a Python function, that can be used as a Parson's puzzle question.
Give a test code to test the function Just give the function and test code. Write nothing else.

Answer:

def sum_of_digits(n):    
    return sum([int(i) for i in str(n)])

sum_of_digits(547)

###

Question:
Create a Python function, that can be used as a Parson's puzzle question.
Give a test of running code. Just give the function and test code. Write nothing else.

Answer:

output: 